.bio-card {
    background-color: white;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 25px 40px;
}

.bio-img {
    width: 240px;
    height: 240px;
    border-radius: 120px;
}

.bio-content {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
    font: 22px "", monospace;
}

.line-divider {
    border: 2px solid white;
    margin-bottom: 20px;
}

.my-stuff-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
    margin-bottom: 20px;
}

.my-stuff-buttons > a {
    background-color: white;
    border-radius: 20px;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
}

.recent-header {
    background-color: white;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 25px 40px;
}

.recent-header > p {
    font: 28px "", monospace;
    margin: 0px 0px;
}

.recent-header > .subtext {
    font: 22px "", monospace;
    color: #AAAAAA;
    margin: 0px 0px;
}