.bio-img {
    width: 240px;
    height: 240px;
    border-radius: 120px;
}

.bio-content {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
    font: 22px "", monospace;
}

.my-stuff-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
    margin-bottom: 20px;
}

.my-stuff-buttons > a {
    background-color: white;
    border-radius: 20px;
    border: black solid 3px;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
}