/* macOS traffic light cos i thought it looked cool */
.traffic-light {
    display: flex;
    flex-direction: row;
    padding: 10px 15px;
    margin-left: -40px;
    margin-top: -25px;
}

.traffic-light > .red-light {
    height: 12px;
    width: 12px;
    border-radius: 6px;
    margin: 4px 4px;
    background-color: red;
}

.traffic-light > .org-light {
    height: 12px;
    width: 12px;
    border-radius: 6px;
    margin: 4px 4px;
    background-color: #FF7700;
}

.traffic-light > .grn-light {
    height: 12px;
    width: 12px;
    border-radius: 6px;
    margin: 4px 4px;
    background-color: #77FF00;
}

.card {
    background-color: white;
    border-radius: 20px;
    border: black solid 3px;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 25px 40px;
}

.line-divider {
    border: 2px solid white;
    margin-bottom: 20px;
    border-radius: 2px;
}

.inner-divider {
    border: 2px solid #AAAAAA;
    border-radius: 2px;
}

.title > p {
    font: 28px "", monospace;
    margin: 0px 0px;
}

.title > .subtitle {
    font: 22px "", monospace;
    color: #AAAAAA;
    margin: 0px 0px;
}