/* body and buffer center all of the content on the page */
html {
    font: 22px "Trebuchet MS", sans-serif;
}

body {
    background-color: #FFBBBB;
    display: flex;
    flex-direction: row;
    color: black;
}

.buffer {
    flex: 1;
}

/* header, web-icon, and nav-tabs are for the navigation header */
/* TODO: make width dynamic for header and body */
header {
    background-color: #550000;
    border: black solid 3px;
    border-radius: 20px;
    height: 50px;
    width: 960px;
    display: flex;
    flex-direction: row;
}

.web-icon-container {
    flex: 1;
    display: flex;
    align-items: center;
}

.web-icon-container > img {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    margin-left: 50px;
}

.web-icon-container > div {
    color: white;
    margin-left: 10px;
}

.nav-tabs-container {
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

.nav-tabs-container > a {
    background-color: #FFBBBB;
    display: inline-block;
    border: black solid 3px;
    border-radius: 20px;
    max-width: 120px;
    text-align: center;
}

main {
    background-color: #300000;
    border: black solid 3px;
    width: 960px;
    min-height: 720px;
    position: absolute;
    margin-top: -20px;
    padding-top: 30px;
    z-index: -999;
    display: flex;
    flex-direction: row;
}

.content {
    flex: 10;
}

/* misc site wide formatting */

/* i hate the default link formatting*/

a:link {
    text-decoration: none;
    color: black;
}
  
a:visited {
    text-decoration: none;
    color: black;
}
  
a:hover {
    text-decoration: none;
    color: black;
}
  
a:active {
    text-decoration: none;
    color: black;
}

/* macOS traffic light cos i thought it looked cool */
.traffic-light {
    display: flex;
    flex-direction: row;
    padding: 10px 15px;
    margin-left: -40px;
    margin-top: -25px;
}

.traffic-light > .red-light {
    height: 12px;
    width: 12px;
    border-radius: 6px;
    margin: 4px 4px;
    background-color: red;
}

.traffic-light > .org-light {
    height: 12px;
    width: 12px;
    border-radius: 6px;
    margin: 4px 4px;
    background-color: #FF7700;
}

.traffic-light > .grn-light {
    height: 12px;
    width: 12px;
    border-radius: 6px;
    margin: 4px 4px;
    background-color: #77FF00;
}